Dear {{name}},
<br><br>
Please click on the following link to confirm the purchase of your saddle
by Custom Saddlery: {{customer_confirmation_landing_page}} (or copy-paste
the URL into your internet browser)
<br><br>
Make sure to get in touch with {{fitter_name}} if you have any questions or
concerns.
<br><br>
Thanks,
<br><br>
<a href="mailto:{{fitter_email}}">{{fitter_email}}</a><br>
Phone number: {{fitter_phone}}<br>
{{#if fitter_cell}}
Cellphone number: {{fitter_cell}}<br>
{{/if}}